/* When projects are hovered over they change color and expand slightly*/

/* COLORS: 
- Light Blue #b4c0ceff - text black
- Powder Blue #A6C0DD - text black
- Vanilla Cream #F3EBCE - text black
- cream: #fff6e5
- Light tan #d8d1b4ff - text black
- Purple #483143ff - text white
- Dark Blue #25304bff - text white
*/

body {
    background-color: #fff6e5;
}

/* --------TOP NAVIGATION BAR-------- */

ul.topNav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topNav li {
  display: block;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
}

ul li a:hover {
  background-color: white;
}


/* --------MAIN TITLE-------- */

.mainTitle{
    text-align: center;
    font-family : 'Arial';
	color: black;
}

#nameH1{
    margin-block-start: 150px; /* margin top */
    font-family : 'Arial';
	color: #3d507b; /*  3d507b 6d4a65 */
}

#nameDes{
    margin-block-end: 150px; /* margin bottom */
}

/* --------PROJECTS-------- */

.project{
    background-color: #D2DFEE;
    text-align: center;
	font-family : 'Arial';
	color: black;
}